<header class="bg-dark">
  <!-- Start: Hero Clean Reverse -->
  <div class="container pt-4 pt-xl-5">
      <div class="row pt-5">
          <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
              <div class="text-center">
                  <p class="fw-bold text-success mb-2">#chat application with angular and firebase</p>
                  <h1 class="fw-bold">The best solution for you and your connections</h1>
              </div>
          </div>
      </div>
  </div><!-- End: Hero Clean Reverse -->
</header>
